/* Classes */

.container {
    padding: 5% 10%;
    margin: 0% 10%; 
}

.newsArticle {
    background-color: #f2f2f2;
  }

    /* Positioning */

.newsImg {
    width: 100%;
    height: auto;
  }
  
.newsTitle {
    margin-bottom: 70px;
  }

.innerText {
    margin-left: 1%;
}

    /* Text color fix */

.newsHeading {
    color: red;
    margin-left: 1%;
  }

.textBody, .newsTitle {
    color: black;

}

.timeDate {
    color: grey;
}

.icon {
    color: red; 
}

    /* Hyperlink text decor */

.noDecoration1, a:hover {
    text-decoration: none;
    color: red;
}

.noDecoration2 {
    text-decoration: none;
    color: black;
}

/* IDs */

#news {
    background-color: #f8f9fa;
  }